In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('seattle-weather.csv')

In [3]:
x = df[['wind','precipitation','temp_max','temp_min']]

In [4]:
x.min()
x.max()

wind              9.5
precipitation    55.9
temp_max         35.6
temp_min         18.3
dtype: float64

In [5]:
df_normalized = (x - x.min()) / (x.max() - x.min())
df1 = pd.DataFrame(df_normalized)

In [6]:
d = df['weather']

In [7]:
#solution1
b = len(df['weather'])
a = []

for i in range(b):
    
    y=d.iloc[i]
    if y=='drizzle':
        a.append(0)
    elif y=='rain':
        a.append(1)
    elif y=='sun':
        a.append(2)
    elif y=='snow':
        a.append(3)
    else:
        a.append(4)

In [8]:
#solution 2
c = []
x = []
for i in range(b):
    if d.iloc[i] not in c:
        c.append(d.iloc[i])
    if d.iloc[i] in c:
        index = c.index(d.iloc[i])
        x.append(index)
        
c

['drizzle', 'rain', 'sun', 'snow', 'fog']

In [16]:
#solution 3
df['weather2'],unique_lables = pd.factorize(df['weather'])
x3 = df['weather2']
print(x3)

0       0
1       1
2       1
3       1
4       1
       ..
1456    1
1457    1
1458    4
1459    2
1460    2
Name: weather2, Length: 1461, dtype: int64

In [9]:

df = pd.DataFrame(x,columns=['weather'])

In [10]:
concat = pd.concat([df1,df],axis=1)
concat

          wind  precipitation  temp_max  temp_min  weather
0     0.472527       0.000000  0.387097  0.476378        0
1     0.450549       0.194991  0.327957  0.389764        1
2     0.208791       0.014311  0.357527  0.562992        1
3     0.472527       0.363148  0.370968  0.500000        1
4     0.626374       0.023256  0.282258  0.389764        1
...        ...            ...       ...       ...      ...
1456  0.274725       0.153846  0.161290  0.346457        1
1457  0.098901       0.026834  0.177419  0.346457        1
1458  0.241758       0.000000  0.236559  0.303150        4
1459  0.329670       0.000000  0.193548  0.240157        2
1460  0.340659       0.000000  0.193548  0.196850        2

[1461 rows x 5 columns]

In [11]:
concat.to_csv('normalize.csv',index=False)