In [6]:
import pandas as pd
from nltk.corpus import stopwords
import nltk

In [7]:
df = pd.read_csv('twitter_validation.csv')
nltk.download('stopwords')
stop_words = set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Umair\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [8]:
df.columns=['index','Company', 'Type', 'Tweet']

In [26]:
x = df['Tweet']

x3 =x

In [10]:
df['Processed_Tweet'] = df['Tweet'].apply(lambda x: ' '.join([word for word in x.split() if word.lower() not in stop_words]))

In [11]:

a = []
for i in range(len(df['Tweet'])): 
    processed_words = [word for word in x.iloc[i].split() if word.lower() not in stop_words]
    processed_tweet = ' '.join(processed_words) 
    a.append(processed_tweet)
df['Processed_Tweet'] = a

In [32]:
def RemoveStop(x3):
     a = []
     for i in range(len(x3)):
            tweet = x3.iloc[i]
            words = tweet.split()
            clean_join = ''
            for word in words:
                if word.lower() not in stop_words:
                    clean_join += word + ' '
            a.append(clean_join.strip())
     df['remove_stopword'] = a
     print(df['remove_stopword'])
print(RemoveStop(x3))

0      BBC News - Amazon boss Jeff Bezos rejects clai...
1      @Microsoft pay WORD functions poorly @SamsungU...
2      CSGO matchmaking full closet hacking, truly aw...
3      President slapping Americans face really commi...
4      Hi @EAHelp I’ve Madeleine McCann cellar past 1...
                             ...
994    ⭐️ Toronto arts culture capital Canada, it’s w...
995    ACTUALLY GOOD MOVE TOT BRING VIEWERS. one peop...
996    Today sucked it’s time drink wine n play borde...
997         Bought fraction Microsoft today. Small wins.
998    Johnson & Johnson stop selling talc baby powde...
Name: remove_stopword, Length: 999, dtype: object
None

In [33]:
x = df['remove_stopword']

In [34]:
def RemovePun(x):
       punctuations = ['!', '"', '#', '$', '%', '&', "'", '(', ')', '*', '+', ',', '-', '.', '/', ':', ';', '<', '=', '>', '?', '@', '[', '\\', ']', '^', '_', '`', '{', '|', '}', '~']
       processed_tweets = []
       for i in range(len(x)):
            tweet = x.iloc[i]
            clean = ''
            for word in tweet:
               if word not in punctuations:
                   clean +=word
            processed_tweets.append(clean)
       df['finalTweet'] = processed_tweets
       print(df['finalTweet'])
print(RemovePun(x))

0      BBC News  Amazon boss Jeff Bezos rejects claim...
1      Microsoft pay WORD functions poorly SamsungUS ...
2      CSGO matchmaking full closet hacking truly awf...
3      President slapping Americans face really commi...
4      Hi EAHelp I’ve Madeleine McCann cellar past 13...
                             ...
994    ⭐️ Toronto arts culture capital Canada it’s wo...
995    ACTUALLY GOOD MOVE TOT BRING VIEWERS one peopl...
996    Today sucked it’s time drink wine n play borde...
997           Bought fraction Microsoft today Small wins
998    Johnson  Johnson stop selling talc baby powder...
Name: finalTweet, Length: 999, dtype: object
None

In [39]:
a = []
for i in range(len(df['Tweet'])):
        tweet = x.iloc[i]
        words = tweet.split()
        clean_join = ''
        for word in words:
            if word.lower() not in stop_words:
                clean_join += word + ' '
        a.append(clean_join.strip())
df['remove_stopwords'] = a
x1 = df['remove_stopwords']
x1

0      BBC News - Amazon boss Jeff Bezos rejects clai...
1      @Microsoft pay WORD functions poorly @SamsungU...
2      CSGO matchmaking full closet hacking, truly aw...
3      President slapping Americans face really commi...
4      Hi @EAHelp I’ve Madeleine McCann cellar past 1...
                             ...
994    ⭐️ Toronto arts culture capital Canada, it’s w...
995    ACTUALLY GOOD MOVE TOT BRING VIEWERS. one peop...
996    Today sucked it’s time drink wine n play borde...
997         Bought fraction Microsoft today. Small wins.
998    Johnson & Johnson stop selling talc baby powde...
Name: remove_stopwords, Length: 999, dtype: object

In [44]:
punctuations = ['!', '"', '#', '$', '%', '&', "'", '(', ')', '*', '+', ',', '-', '.', '/', ':', ';', '<', '=', '>', '?', '@', '[', '\\', ']', '^', '_', '`', '{', '|', '}', '~']
a = []
for i in range(len(df['remove_stopwords'])):
    tweet = x1.iloc[i]
    clean_join = ''
    for word in tweet:
        if word not in punctuations:
            clean_join +=word
    a.append(clean_join)
df['f1']= a

In [43]:
df['f1']

0      BBC News  Amazon boss Jeff Bezos rejects claim...
1      Microsoft pay WORD functions poorly SamsungUS ...
2      CSGO matchmaking full closet hacking truly awf...
3      President slapping Americans face really commi...
4      Hi EAHelp I’ve Madeleine McCann cellar past 13...
                             ...
994    ⭐️ Toronto arts culture capital Canada it’s wo...
995    ACTUALLY GOOD MOVE TOT BRING VIEWERS one peopl...
996    Today sucked it’s time drink wine n play borde...
997           Bought fraction Microsoft today Small wins
998    Johnson  Johnson stop selling talc baby powder...
Name: f1, Length: 999, dtype: object